.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #bdbdbd;
}

.body {
  background-color: #121212 !important;
  padding: 0 !important;
}

.cardTop :hover {
  opacity: 0.8;
}

.bodyCard {
  background-color: #0f1a2a;
}

.star {
  font-size: "18px";
}

.textcolor {
  color: #bdbdbd;
}